<div id="events">
  <% _.each(events, function(event) { %>
    <div id="event" hidden>
      <input name="name" type="text" value="<%= event.name %>" />
      <input name="description" type="text" value="<%= event.description %>" />
      <input name="datetime" type="text" value="<%= event.datetime %>" />
      <input name="lat" type="text" value="<%= event.location.lat %>" />
      <input name="long" type="text" value="<%= event.location.long %>" />
    </div>
    <% }); %>
</div>

<div id="map"></div>
<div id="marker-template" hidden>
  <h1 id="name">{{ name }}</h1>
  <p id="description">{{ description }}</p>
</div>
<!-- <div class="container">
<div class="row">
  <div class="card col-md-4">
    <img class="card-img-top" src="/img/pizza.png" style="width: 100%;" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
    </div>
    </div>
  </div> -->
